<div class="container mt-4">
    <h1 class="text-center mb-4">All Tables</h1>
    <div class="row">
        <% tables.forEach(table => { %>
            <div onclick="location.href='/order/<%=table.idTable%>'" class="col-md-4 col-lg-3 mb-4">
                <div class="card shadow-sm">
                    <img src="<%= table.imageUrl %>" class="card-img-top" alt="Table <%= table.idTable %>" style="height: 180px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Table ID: <%= table.idTable %></h5>
                        <p class="card-text"><strong>Seats:</strong> <%= table.seatNumber %></p>
                        <p class="card-text"><strong>Description:</strong> <%= table.description %></p>
                        <p class="card-text">
                            <strong>Status:</strong>
                            <span class="badge
                            <%= table.isInUse ? 'bg-info' : table.status === 'AVAILABLE' ? 'bg-success' : table.status === 'OCCUPIED' ? 'bg-danger' : 'bg-warning' %>">
                            <%= table.isInUse ? 'Đang sử dụng' : table.status %>
                        </span>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>