<html>
  <head>
    <title>Home page</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link href="/css/header.css" rel="stylesheet" />
    <script src="/js/header.js"></script>
  </head>

  <body>
    <div class="navbar">
      <div class="Res-title">
        <img
          alt="Thư vãn logo"
          height="100"
          src="/image/resly.png"
          width="100"
        />
      </div>
      <% if (!user) { %>
        <div class="nav-links">
          <a href="/"> Trang chủ </a>
          <a href="/#features">Tính năng</a>
          <a href="/#pricing">Gói dịch vụ</a>
          <a href="/#testimonials">Đánh giá</a>
          <a href="/#faq">FAQ</a>
          <a href="/news"> Tin tức </a>
        </div>
      <% } %>

      <div class="user-menu">
        <% if (user && (user.role === 'RESOWNER' || user.role === 'WAITER' || user.role === 'KITCHENSTAFF')) { %>
          <div class="user-avatar">
            <img src="<%= user.avatar %>" alt="Avatar" />
            <div class="dropdown">
              <span> <%= user.name %> </span>
              <span> <%= user.name %> </span>
              <div class="dropdown-content">
                <% if (user.role === 'WAITER' || user.role === 'KITCHENSTAFF') { %>
                  <a href="/users/<%= user._id %>">Hồ sơ</a>
                  <a href="/order">Gọi món</a>
                <% } else if (user.role === 'RESOWNER') { %>
                  <a href="/admin%>">Quản lí</a>
                <% } else { %>
                  <a href="/users/<%= user._id %>">Hồ sơ</a>
                  <a href="/admin">Quản lí</a>
                <% } %>
                <form action="/auth/logout" method="POST">
                  <button
                    type="submit"
                    style="background-color: #fff; border: none"
                  >
                    Đăng xuất
                  </button>
                </form>
              </div>
            </div>
          </div>
        <% } else { %>
        <div class="auth-links">
          <a href="/auth/login">Đăng nhập</a>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
