<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= article.title %> - Tin tức</title>
  <link rel="stylesheet" href="/css/newsInfor.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
  <div>
    <a href="/news" class="btn-back">← Quay lại </a>
  </div>
  <div class="main-wrapper">
    <div class="header-content">
      <h1 class="news-title"><%= article.title %></h1>
      <div class="news-meta">
        <span><i class="far fa-user"></i> Admin</span>
        <% 
          let randomViews = Math.floor(Math.random() * (20000 - 1000 + 1)) + 1000; // Random từ 1.000 đến 50.000
          let formattedViews = (randomViews / 1000).toFixed(1) + "k"; // Chia 1000 và giữ 1 số sau dấu chấm
        %>
        <span><i class="far fa-eye"></i> <%= formattedViews %></span>
        <span><i class="far fa-clock"></i> <%= new Date(article.createdAt).toLocaleDateString('vi-VN') %></span>
      </div>
      <img src="<%= article.image %>" alt="<%= article.title %>" class="news-image">
      <div class="news-content">
        <%- article.content.replace(/\n/g, '<br>') %>
      </div>
    </div>
  
    <!-- Cột phải -->
    <div class="right-sidebar">
      <h2>Bài viết mới</h2>
      <div class="related-list">
        <% relatedNews.forEach((related) => { %>
          <div class="related-item">
            <a href="/news/<%= related._id %>">
              <!-- Cột trái: Ảnh -->
              <div class="related-image">
                <img src="<%= related.image %>" alt="<%= related.title %>">
              </div>
              <!-- Cột phải: Tiêu đề & meta -->
              <div class="related-info">
                <h3><%= related.title %></h3>
                <div class="meta">
                  <span><i class="far fa-clock"></i> <%= new Date(related.createdAt).toLocaleDateString('vi-VN') %></span>
                </div>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </div>
    
    
  </div>

</body>
</html>
